<!doctype html>
<html lang='es'>
    <head>
        <meta charset='UTF-8' />
        <script>
            window.location.replace('/portafolio/es/');
        </script>
        <meta
            http-equiv='refresh'
            content='0;url=/portafolio/es/'
        />
        <link
            rel='canonical'
            href='/portafolio/es/'
        />
        <style>
            body {
                margin: 0;
                background: #000;
            }
        </style>
    </head>
    <body></body>
</html>
