---
const baseUrl = import.meta.env.BASE_URL;
---

<div>
    <h1>404</h1>
    <p>Página no encontrada</p>
    <p>
        parece que te has equivocado de camino, vuelve a la
        <a href={`${baseUrl}es/`}>página principal</a>.
    </p>
</div>
