---
import GeneralLayout from "./generalLayout.astro"
import { getLangFromURL, useTranslation } from "@/scripts/in18/hooks";

interface Props {
  translationUrl?: string;
}

const { translationUrl } = Astro.props;

const lang = getLangFromURL(Astro.url);
const t = useTranslation(lang);
---

<GeneralLayout translationUrl={translationUrl}>
	<nav class="fixed z-10 top-0 px-4 py-2 flex gap-4 bg-transparent">
		<menu>
			<a class="opacity-60" href={ import.meta.env.BASE_URL + "/" + lang + "/"} target="_blank">{ t('Blog.Nav.Return') }</a>
			<a href={ import.meta.env.BASE_URL + "/blog/" + lang + "/" }>{ t('Blog.Nav.Board') }</a>
		</menu>
	</nav>
	<slot />
</GeneralLayout>
